<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :tel %><br />
    <%= f.text_field :tel %>
  </div>
  <div class="field">
    <%= f.label :q1 %><br />
    <%= f.text_field :q1 %>
  </div>
  <div class="field">
    <%= f.label :q2 %><br />
    <%= f.text_field :q2 %>
  </div>
  <div class="field">
    <%= f.label :q3 %><br />
    <%= f.text_field :q3 %>
  </div>
  <div class="field">
    <%= f.label :q4 %><br />
    <%= f.text_field :q4 %>
  </div>
  <div class="field">
    <%= f.label :q5 %><br />
    <%= f.text_field :q5 %>
  </div>
  <div class="field">
    <%= f.label :q6 %><br />
    <%= f.text_field :q6 %>
  </div>
  <div class="field">
    <%= f.label :q7 %><br />
    <%= f.text_field :q7 %>
  </div>
  <div class="field">
    <%= f.label :q8 %><br />
    <%= f.text_field :q8 %>
  </div>
  <div class="field">
    <%= f.label :q9 %><br />
    <%= f.text_field :q9 %>
  </div>
  <div class="field">
    <%= f.label :q10 %><br />
    <%= f.text_field :q10 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
