
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>Por favor, verifique os erros abaixo. Provavelmente faltou preencher alguma questão. Obrigada!</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<div class="field">
    <b><%= f.label :firstname, 'Qual seu primeiro nome?' %><br />
    <%= f.text_field :firstname %>
  </div>

    <div class="field">
    <%= f.label :lastname, 'Qual seu último nome?' %><br />
    <%= f.text_field :lastname %>
  </div>
    <div class="field">
    <%= f.label :age, 'Qual sua idade?'%><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :address, 'Qual sua cidade e estado? (Ex: Londrina/PR)' %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :escolaridade, 'Qual sua escolaridade? (Escolha o ensino que está cursando ou o último que completou).' %><br />
    <%= f.select :escolaridade, { "Ensino Fundamental" => "1", "Ensino Médio" => "2", "Ensino Técnico" => "3", "Ensino Superior" => "4", "Pós-Graduação" => "5" } %>
    
  </div>
  <div class="field">
    <%= f.label :profissao, 'Qual sua profissão?' %><br />
    <%= f.text_field :profissao %>
  </div>

  <div class="field">
    <%= f.label :email, 'Qual o seu email? (Responda apenas se desejar)' %><br />
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :q1, '1. Você se considera:' %><br />
    <%= f.radio_button(:q1, 1) %>Nerd / Geek <br />
    <%= f.radio_button(:q1, 2) %>Nenhuma das alternativas

  </div>
  <div class="field">
    <%= f.label :q2, '2. Você considera a moda um meio de comunicação pessoal?' %><br />
    <%= f.radio_button(:q2, 1) %>Sim <br />
    <%= f.radio_button(:q2, 2) %>Não
  </div>
  <div class="field">
    <%= f.label :q3, '3. Você acha necessário expressar seu estilo de vida através da moda, como por exemplo usando camisetas com estampas que remetam a cultura nerd? :' %><br />
    <%= f.radio_button(:q3, 1) %>Sim <br />
    <%= f.radio_button(:q3, 2) %>Não <br />
  </div>
  <div class="field">
    <%= f.label :q4, '4. Você costuma usar a internet para comprar produtos?' %><br />
    <%= f.radio_button(:q4, 1) %>Sim <br />
    <%= f.radio_button(:q4, 2) %>Não <br />
    <%= f.radio_button(:q4, 3) %>Raramente
  </div>
  <div class="field">
    <%= f.label :q5, 'Caso a resposta anterior seja positiva, um dos produtos comprados pela internet costuma ser produtos de moda, como camisetas e outros que possuam uma temática nerd? Se respondeu NÃO na resposta anterior, selecione NÃO nesta também.' %><br />
    <%= f.radio_button(:q5, 1) %>Sim <br />
    <%= f.radio_button(:q5, 2) %>Não <br />
    <%= f.radio_button(:q5, 3) %>Raramente
  </div>
  <div class="field">
    <%= f.label :q6, '6. Você costuma acessar sites nacionais de venda de produtos de moda com temática nerd?' %><br />
    <%= f.radio_button(:q6, 1) %>Sim <br />
    <%= f.radio_button(:q6, 2) %>Não <br />
    <%= f.label :sites, 'Se sim, quais sites? ' %> 
    <%= f.text_field :sites %>
  </div>
  <div class="field">
    <%= f.label :q7, '7. Esses sites oferecem o tipo de serviço e produto que o satisfazem?' %><br />
    <%= f.radio_button(:q7, 1) %>Sim <br />
    <%= f.radio_button(:q7, 2) %>Não
  </div>
  <div class="field">
    <%= f.label :q8, '8. Qual tipo de vestuário você costuma consumir com maior freqüência?  (Pergunta de múltipla escolha)' %><br />
    <%= f.check_box(:q8, { :multiple => true }, "Camiseta", nil) %>Camiseta <br />
    <%= f.check_box(:q8, { :multiple => true }, "Camisa", nil) %>Camisa <br />
    <%= f.check_box(:q8, { :multiple => true }, "Bermuda", nil) %>Bermuda<br />
    <%= f.check_box(:q8, { :multiple => true }, "Moletom", nil) %>Moletom<br />
    <%= f.check_box(:q8, { :multiple => true }, "Jaqueta", nil) %>Jaqueta<br />
    <%= f.check_box(:q8, { :multiple => true }, "Calca Social", nil) %>Calça Social<br />
    <%= f.check_box(:q8, { :multiple => true }, "Terno", nil) %>Terno<br />
    <%= f.check_box(:q8, { :multiple => true }, "Gravata", nil) %>Gravata<br />
    <%= f.check_box(:q8, { :multiple => true }, "Outros", nil) %>Outros
    
    <%= f.label :vestuario, '. Exemplos: ' %> 
    <%= f.text_field :vestuario %>

  </div>
  <div class="field">
    <%= f.label :q9, '9.  O que você procura ao se vestir? (Pergunta de múltipla escolha)' %><br />
    <%= f.check_box(:q9, { :multiple => true }, "Praticidade", nil) %>
    Praticidade <br />
    <%= f.check_box(:q9, { :multiple => true }, "Conforto", nil) %>
    Conforto<br />
    <%= f.check_box(:q9, { :multiple => true }, "Custo", nil) %>
    Custo <br />
    <%= f.check_box(:q9, { :multiple => true }, "Qualidade", nil) %>
    Qualidade <br />
    <%= f.check_box(:q9, { :multiple => true }, "Marca", nil) %>
    Marca <br />
    <%= f.check_box(:q9, { :multiple => true }, "Estilo", nil) %>
    Estilo <br />
  </div>
  <div class="field">
    <%= f.label :q10, '10. Cada pessoa tem um estilo próprio de se vestir, e esse estilo é a sua  marca pessoal, é a maneira como se mostra ao mundo. Nas alternativas abaixo você verá uma sequência de imagens que representam alguns estilos básicos. Escolha o qual você se identifica.' %><br /><br />
    <%= f.check_box(:q10, { :multiple => true }, "Classico", nil) %>
    <span style="color : red">Clássico:</span> Transmitem confiança, serenidade, tendem ao tradicional, mas procuram manter-se atualizado nas tendências da moda. <br />
    <%= image_tag("classico1.jpg") %>
    <%= image_tag("classico2.jpg") %>
    <br />
    <br />
    <br />
    <%= f.check_box(:q10, { :multiple => true }, "Basico", nil) %>
    <span style="color : red"> Básico: </span>Veste-se naturalmente, usando o que encontra em seu guarda-roupa, e em contrapartida assimila novas tendências com, aparentando as vezes um estilo mais descontraído. <br />
    <%= image_tag("basico1.jpg") %>
    <%= image_tag("basico2.jpg") %>
    <br />
    <br />
    <br />
    <%= f.check_box(:q10, { :multiple => true }, "Casual", nil) %>
    <span style="color : red">Casual: </span>Mistura uma pouco de informalidade no estilo clássico<br />
    <%= image_tag("casual1.jpg") %>
    <%= image_tag("casual2.jpg") %>
    <br />
    <br />
    <br />
    <%= f.check_box(:q10, { :multiple => true }, "Despojado", nil) %>
    <span style="color : red">Despojado:</span> Sempre disposto a adotar novas modelagens e estruturas, procuram sempre algo característico de sua personalidade, misturam looks e peças<br />
    <%= image_tag("despojado1.jpg") %>
    <%= image_tag("despojado2.jpg") %>
    
  </div>
  <div class="actions">
    <p style = "color:red">Pronto! Se você já respondeu  todas as perguntas, pode clicar em "Submeter" logo abaixo! Obrigada! </p>
    <br />
    <br />
    <%= f.submit "Submeter" %>
    <br />
    <br />
    <br />
    <br />

  </div>
<% end %>
