<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @post.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @post.lastname %>
</p>

<p>
  <b>Age:</b>
  <%= @post.age %>
</p>

<p>
  <b>Address:</b>
  <%= @post.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @post.tel %>
</p>

<p>
  <b>Q1:</b>
  <%= @post.q1 %>
</p>

<p>
  <b>Q2:</b>
  <%= @post.q2 %>
</p>

<p>
  <b>Q3:</b>
  <%= @post.q3 %>
</p>

<p>
  <b>Q4:</b>
  <%= @post.q4 %>
</p>

<p>
  <b>Q5:</b>
  <%= @post.q5 %>
</p>

<p>
  <b>Q6:</b>
  <%= @post.q6 %>
</p>

<p>
  <b>Q7:</b>
  <%= @post.q7 %>
</p>

<p>
  <b>Q8:</b>
  <%= @post.q8 %>
</p>

<p>
  <b>Q9:</b>
  <%= @post.q9 %>
</p>

<p>
  <b>Q10:</b>
  <%= @post.q10 %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
